/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    chosen {
        zmk,display = &nice_view; 
    };
    // adding the moth
    widget_image_sp {
        compatible = "zmk,widget-image";
        width = <128>;
        height = <64>;
        data = [
            f7 f7 f7 ff 01 01 01 ff
            ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff 9f ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff 87 ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff 81 ff ff ff ff ff ff ff ff ff ff
            ff ff ff ff ff 80 ff ff ff ff ff ff bf ff ff ff
            ff ff ff ff ff 80 3f ff ff ff ff fe 1f ff ff ff
            ff ff ff ff ff 80 0f ff ff ff ff f0 1f ff ff ff
            ff ff ff ff ff 80 07 ff ff ff ff c0 1f ff ff ff
            ff ff ff ff ff c0 01 ff ff ff fe 00 3f ff ff ff
            ff ff ff ff ff c0 00 ff ff ff f8 00 3f ff ff ff
            ff ff ff ff ff e0 00 7f ff ff e0 00 3f ff ff ff
            ff ff ff ff ff e0 00 3f ff ff 80 00 7f ff ff ff
            ff ff ff ff ff f0 00 1f f5 5e 00 00 7f ff ff ff
            ff ff ff ff ff f0 00 00 00 00 00 00 7f ff ff ff
            ff ff ff ff ff f8 00 00 00 00 00 00 ff ff ff ff
            ff ff ff ff ff fc 00 00 00 00 00 01 ff ff ff ff
            ff ff ff ff ff fe 00 00 00 00 00 01 ff ff ff ff
            ff ff ff ff ff ff 00 00 00 00 00 03 ff ff ff ff
            ff ff ff ff ff ff 80 00 00 00 00 07 ff ff ff ff
            ff ff ff ff ff ff a0 00 00 00 00 1f ff ff ff ff
            ff ff ff ff ff ff e0 00 00 00 01 3f ff ff ff ff
            ff ff ff ff ff ff c0 00 00 00 00 ff ff ff ff ff
            ff ff ff ff ff ff c0 00 00 00 00 7f ff ff ff ff
            ff ff ff ff ff ff 80 40 00 04 00 7f ff ff ff ff
            ff ff ff ff ff ff 80 a0 00 03 00 3f ff ff ff ff
            ff ff ff ff ff ff 01 30 00 09 80 3f ff ff ff ff
            ff ff ff ff ff ff 01 70 00 0b 80 3f ff ff ff ff
            ff ff ff ff ff ff 01 f0 00 0f 00 1f ff ff ff ff
            ff ff ff ff ff fe 00 e0 00 07 00 1f ff ff ff ff
            ff ff ff ff ff fe 00 00 00 00 00 1f ff ff ff ff
            ff ff ff ff ff fe 00 00 60 00 00 0f ff ff ff ff
            ff ff ff ff ff fe 00 00 70 00 00 0f ff ff ff ff
            ff ff ff ff ff fc 70 00 00 00 3c 0f ff ff ff ff
            ff ff ff ff ff fd fc 00 00 00 7f 0f ff ff ff ff
            ff ff ff ff ff fd fc 00 00 00 ff 07 ff ff ff ff
            ff ff ff ff ff fd fc 00 14 00 ff 07 ff ff ff ff
            ff ff ff ff ff fd fc 00 a2 00 7f 07 ff ff ff ff
            ff ff ff ff ff fc 70 00 01 00 7e 07 ff ff ff ff
            ff ff ff ff ff fc 00 01 00 00 18 03 ff ff ff ff
            ff ff ff ff ff fc 00 00 01 00 00 03 ff ff ff ff
            ff ff ff ff ff fe 00 00 80 00 00 03 ff ff ff ff
            ff ff ff ff ff fe 00 00 22 00 00 03 ff ff ff ff
            ff ff ff ff ff ff 00 00 08 00 00 01 ff ff ff ff
            ff ff ff ff ff ff 00 00 00 00 00 03 ff ff ff ff
            ff ff ff ff ff ff 80 00 00 00 00 01 ff ff ff ff
            ff ff ff ff ff ff 80 00 00 00 00 01 ff ff ff ff
            ff ff ff ff ff ff c0 00 00 00 00 01 ff ff ff ff
            ff ff ff ff ff ff c0 00 00 00 00 01 ff ff ff ff
            ff ff ff ff ff ff c0 00 00 00 00 01 ff ff ff ff
            ff ff ff ff ff ff 80 00 00 00 00 00 ff ff ff ff
            ff ff ff ff ff ff 80 00 00 00 00 01 ff ff ff ff
        ];
    };
    // Display Node Configurations 
    &nice_view {
        widgets = <
            &widget_battery_status
            &widget_output_status
            &widget_image_sp
        >;
    }
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |
            display-name = "Base";
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                     &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp GRAVE
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                      &kp Y  &kp U    &kp I     &kp O   &kp P    &kp MINUS
&kp LCTRL &kp A  &kp S  &kp D    &kp F    &kp G                      &kp H  &kp J    &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C    &kp V    &kp B  &kp LBKT   &kp RBKT &kp N  &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                        &kp LALT &kp LGUI &mo 1  &kp SPACE  &kp RET  &mo 2  &kp BSPC &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
// ------------------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
// |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
// |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
// |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
//                     |      |      |      |        |  |       |      |       |       |
            display-name = "Lower";
            bindings = <
&bt BT_CLR &bt BT_SEL 0     &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3 &bt BT_SEL 4                 &trans    &trans    &trans          &trans    &trans    &trans
&kp F1     &kp F2           &kp F3            &kp F4            &kp F5       &kp F6                       &kp F7    &kp F8    &kp F9          &kp F10   &kp F11   &kp F12
&kp GRAVE  &kp EXCL         &kp AT            &kp HASH          &kp DOLLAR   &kp PRCNT                    &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR  &kp RPAR  &kp TILDE
&trans     &trans           &trans            &trans            &trans       &trans    &trans   &trans    &trans    &kp MINUS &kp KP_PLUS     &kp LBRC  &kp RBRC  &kp PIPE
                                              &trans            &trans       &trans    &trans   &trans    &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
// |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
// |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
//                     |      |      |      |        |  |       |      |       |       |
            display-name = "Raise";
            bindings = <
&trans    &trans &trans &trans  &trans  &trans                       &trans      &trans    &trans    &trans   &trans    &trans
&kp GRAVE &kp N1 &kp N2 &kp N3  &kp N4  &kp N5                       &kp N6      &kp N7    &kp N8    &kp N9   &kp N0    &trans
&kp F1    &kp F2 &kp F3 &kp F4  &kp F5  &kp F6                       &trans      &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT &trans
&kp F7    &kp F8 &kp F9 &kp F10 &kp F11 &kp F12   &trans   &trans    &kp KP_PLUS &kp MINUS &kp EQUAL &kp LBKT &kp RBKT  &kp BSLH
                        &trans  &trans  &trans    &trans   &trans    &trans      &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_1 {
            status = "reserved";
        };

        extra_2 {
            status = "reserved";
        };

        extra_3 {
            status = "reserved";
        };
    };
};
